* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
header {
  border-bottom: 8px solid #999;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.intro-chunk {
  margin-top: 96px;
  margin-bottom: 64px;
  max-width: 500px;
}

.title {
  margin: 0;
  margin-bottom: 3rem;
  color: #000;
  font-family: 'Lato';
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2;
}

p {
  margin: 0;
  color: #000;
  font-family: 'Lato';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

p:first-of-type {
  margin-bottom: 1rem;
}

strong {
  color: #096;
  font-weight: 800;
}

main {
  background-color: #666;
  padding: 64px 0;
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
  background-color: #FFBF00;
  width: fit-content;
  padding: 16px 32px;
  border-bottom: 8px solid #C90;
  margin-left: -32px;
  margin-top: -16px;
  margin-bottom: 1rem;
}

.card {
  background-color: #fff;
  padding: 24px;
  margin: 0 -24px;
  border-bottom: 8px solid #999;
}
